* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #667eea, #764ba2);
}

.login_border{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width:60%;
  height: 60%;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  height: 60%;
}

.login-box h2 {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: rgb(70, 231, 113);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.login-box button:hover {
  background: #5a67d8;
}